<%- include ("base.ejs")%>
<!--test -->
<!doctype html>
<html lang="en">


  
<!-- navbar -->
<ul class="nav nav-pills">
 <li class="nav-item">
    <a class="nav-link active"  href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="insert">INSERISCI</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="classifica">MURO</a>
  </li>

</ul>



